*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #2e2b2b;
}

div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2{
  font-size: 9rem;
  padding: 20px;
  margin-bottom: 20px;
  margin: 150px;
}

button{
  height: 70px;
  width: fit-content;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 100px;
}