*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 32);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.parent{
  padding: 20px;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  height: 400px;
  width: 320px;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.top img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 2px solid #dadada;
  padding: 4px;
}

.top button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 2px;
  height: 25px;
  font-size: 0.7rem;
  color: grey;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.center{
  padding: 0px 0 70px 0;
}
.center h3{
  font-size: 0.9rem;
  padding-bottom: 15px;
}

.center span{
  font-size: 0.7rem;
  color: rgb(134, 129, 129);
  padding-left: 5px;
}

.center h2{
  font-size: 1.4rem;
  padding-bottom: 20px;
}

.center .job-type{
  display: flex;
  gap: 10px;
}

.center .job-type h4{
  background-color: #c6c2c2;
  width: 100px;
  height: 35px;
  text-align: center;
  padding: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 5px;
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b9b5b5;
  margin-top: 20px;
  padding: 12px 0 10px 0;
}

.bottom .salary h4{
  font-size: 1.2rem;
}

.bottom .salary p{
  font-size: 0.8rem;
  color: #716868;
  font-weight: 400;
}

.bottom button{
  height: 30px;
  width: 80px;
  background-color: black;
  border: none;
  color: white;
  font-size: 0.75rem;
  border-radius: 4px;
}
